.text-centre{

    text-align: center;
}
.bg-black{
    background: black;
}

mx-auto{
    margin: auto;
}

.items-center{
    align-items: center;
}
.container{
    flex-direction: column;
    align-items: center;
    display: flex;
}
